
*.pdb
*.obj
*.tlog
*.log
*.DMP
*.TXT
Corum Online SRC/Corum/UpgradeLog.XML
Corum Online SRC/CorumOnlineProject/.vs/*
Corum Online SRC/CorumOnlineProject/Release/*
*.sbr
*.sarif
/Corum Online SRC/Installed Client/Data/*
/Corum Online SRC/CorumOnlineProject/CorumOnlineProject___Win32_dev
directx8-msdx8
Corum Online SRC/CorumOnlineProject/Debug/*
Corum Online SRC/CorumOnlineProject/_*/*
Corum Online SRC/CorumOnlineProject/ipch/*
Corum Online SRC/Installed Client/Data/*
Corum Online SRC/CorumOnlineProject/CorumOnlineProject___Win32_dev/*
*.sbr
*.cdb
/Corum Online SRC/CommonServer/Debug
*.bsc
*.ilk
*.recipe
*.lastbuildstate
*.map
*.unsuccessfulbuild
*.idb
*.ilk
*.ilk
*.bsc
*.bsc
Corum Online SRC/[Lib]INetwork-[RaGEZONE]/.vs
Corum Online SRC/[Lib]INetwork-[RaGEZONE]/Debug
